.page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 20px;
	line-height: 1.2;
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
}

.image {
	width: 100%;
	max-height: 80dvh;
	object-fit: cover;
	object-position: 20% 20%;
	border-radius: 20px;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-variation-settings: 'wght' var(--title-weight, 700);
	font-size: 24px;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.accent {
	font-variation-settings: 'wght' 600;
}
