.page {
	display: flex;
	gap: 30px;
	font-size: 20px;
	line-height: 1.2;
}

.image {
	width: 45%;
	max-height: 80dvh;
	object-fit: cover;
	object-position: 20% 20%;
	border-radius: 20px;
}

.textWrapper {
	width: 55%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-variation-settings: 'wght' 700;
	font-size: 24px;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.accent {
	font-variation-settings: 'wght' 600;
}
