.toggle {
	display: flex;
	align-items: center;
	gap: 10px;
}

.toggleButton {
	position: relative;
	display: block;
	min-height: 31px;
	min-width: 50px;
	border: solid 1px #eff2f3;
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
	border-radius: 15px;
	cursor: pointer;
}

.notChecked {
	background-color: #cfcfcf;
}

.checked {
	background-color: var(--accent-light-color, #91d8d3);
}

.toggleButton:disabled {
	background-color: #ebebeb;
}

.toggleButton::after {
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	display: block;
	background: #fff;
	transition: margin-left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.05);
}

.checked::after {
	margin-left: 19px;
}
