.main {
	max-width: 1600px;
	margin: 0 auto;
	padding: 5%;
	font-family: var(--main-font, Jost, sans-serif);
	font-variation-settings: 'wght' var(--text-weight, 400);
	color: var(--accent-dark-color, #292f36);
	font-size: var(--main-font-size, 18px);
	line-height: 1.2;
}

.content {
	min-height: 100dvh;
	background-image: linear-gradient(135deg, #e9b9cf 0%, #d3f3f1 100%);
	background-attachment: fixed;
}
